*{
    box-sizing: border-box;
    
}
body{
    background-color: rgba(211, 59, 148, 0.37);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Tapestry', cursive;
}